<form
  novalidate
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="flex-column"
>
  <div class="flex-row">
    <label for="username">Username</label>
    <div class="flex-column">
      <input
        type="text"
        formControlName="username"
        placeholder="Enter user name"
      />
      <span
        *ngIf="loginForm.controls['username'].errors?.['required']"
        class="form-error"
        >*Please enter username</span
      >
    </div>
  </div>
  <div class="flex-row">
    <label for="password">Password</label>
    <div class="flex-column">
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password"
        required
      />
      <span
        *ngIf="loginForm.controls['password'].errors?.['required']"
        class="form-error"
        >*Please enter Password</span
      >
    </div>
  </div>
  <div class="flex-row">
    <label for="confirmpassword">Confirm password</label>
    <div class="flex-column">
      <input
        type="password"
        formControlName="confirmpassword"
        placeholder="Confirm password"
      />
      <span
        *ngIf="
          loginForm.controls['confirmpassword'].hasError('passwordNotMatch')
        "
        class="form-error"
        >*Password did not match</span
      >
    </div>
  </div>
  <input
    type="submit"
    value="Login"
    [disabled]="!loginForm.hasError('invalidForm')"
  />
  {{ loginForm.hasError("invalidForm") }}
</form>
