.main {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 50vh;
}

.weatherdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 6px rgb(105, 35, 35);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
}
